<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ABOUT US</title>
    <link rel="stylesheet" href="../bosstrap/style/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/Main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
  </head>
  <body>
    <!-- Main -->
    <div id="main">
      <!-- button go home -->
      <div class="back-home shadow">
        <div class="box"><i class="fa-solid fa-chevron-up"></i></div>
      </div>

      <!-- button help -->
      <div class="help rounded-pill">
        <div>
          <button class="btn-help-show btn rounded-pill text-light">
            <span><i class="fa-solid fa-question"></i></span>
            <span>Trợ giúp</span>
          </button>
        </div>
      </div>
      <!-- form chat -->
      <div>
        <div class="help-form bg-light">
          <div>
            <header>
              <div
                class="d-flex bg-primary justify-content-center align-items-center position-relative"
              >
                <h1 class="text-light fs-6 py-2">Trò chuyện trực tuyến</h1>
                <button
                  class="btn btn-help-close position-absolute top-0 bottom-0 end-0 text-light"
                >
                  <i class="fa-solid fa-xmark"></i>
                </button>
              </div>
            </header>
            <form action="">
              <div class="main-form">
                <div class="m-4">
                  <span
                    >Rất tiếc, hiện tại chúng tôi không online. Hãy để lại tin
                    nhắn và chúng tôi sẽ liên hệ lại với bạn.</span
                  >
                </div>
                <div class="box-form">
                  <div class="mx-4">
                    <div class="d-flex flex-column my-4">
                      <label for="">
                        <div>
                          <strong>Tên</strong>
                        </div>
                      </label>
                      <input type="text" class="p-1" />
                    </div>

                    <div class="d-flex flex-column my-4">
                      <label for="">
                        <div>
                          <strong>Email</strong>
                        </div>
                      </label>
                      <input type="text" class="p-1" />
                    </div>

                    <div class="d-flex flex-column my-4">
                      <label for="">
                        <div>
                          <strong>Tin nhắn</strong>
                        </div>
                      </label>
                      <textarea
                        name=""
                        id=""
                        class="p-1"
                        style="height: 100px"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer-form py-3">
                <div class="d-flex justify-content-between mx-4">
                  <a href="">Trợ giúp</a>
                  <button
                    type="submit"
                    class="btn bg-primary text-light opacity-80"
                  >
                    Gửi tin nhắn
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- thanh nav -->
      <nav
        class="navbar navbar-expand-lg bg-dark border-bottom border-body"
        data-bs-theme="dark"
      >
        <div class="container" style="z-index: 10">
          <a class="navbar-brand" href="../../index.html">
            <img
              src="https://affixapparel.com/wp-content/uploads/2024/09/afx-white-logo.png"
              alt=""
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse"
            id="navbarSupportedContent"
            style="z-index: 10"
          >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../../index.html"
                  >HOME</a
                >
              </li>
              <!-- <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              OUT SERVICES
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              CUSTOMIZATION
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li> -->
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">PRODUCTS</a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="./portfolio.html"
                  >PORTFOLIO</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="./blog.html"
                  >BLOG</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="./contact.html"
                  >CONTACT US</a
                >
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form>
          </div>
        </div>
      </nav>
      <!-- background -->
      <div class="about-background"></div>
      <!-- content -->
      <div class="content">
        <div class="about-content">
          <div class="about-content-white">
            <div
              class="container d-flex flex-wrap py-5 justify-content-between"
            >
              <div class="text col-6 pr-4">
                <h1>
                  Secrets To Start A
                  <span class="text-warning">Successful Clothing Line</span>
                </h1>
                <p class="mb-4">
                  There’s a lot that goes into starting a successful clothing
                  line. When starting a clothing brand, you need to identify the
                  need in the market and define your target audience
                  accordingly. Then, create a clothing brand business plan and
                  design distinct apparel styles exclusive to your clothing
                  brand.
                </p>
                <p class="mb-4">
                  The question of how to start a clothing brand is finding an
                  affordable and high quality clothing manufacturer. Then come
                  up with the right branding and marketing strategies to market
                  your new line of clothing.
                </p>
                <p class="mb-4">
                  You can’t rule out two major aspects when creating a clothing
                  brand. First, your pricing strategy should be highly relevant.
                  Second, you need a soft launch, and then invest gradually.
                </p>
                <p class="mb-4">
                  Creating a clothing line is not a simple process, but it is
                  quite a challenge. Do not worry, in this article you will get
                  all the needed tools to build your own clothing brand.
                </p>
                <button id="openQuote" class="btn bg-warning text-light">
                  GET STARTED
                </button>
              </div>
              <div class="img py-5">
                <img
                  src="https://affixapparel.com/wp-content/uploads/2024/09/how-to-12.jpg"
                  alt=""
                  width="600px"
                  height="500px"
                />
              </div>
            </div>
          </div>

          <div class="about-content-black">
            <div
              class="container d-flex flex-wrap py-5 justify-content-between"
            >
              <div class="text col-6 pr-4">
                <p class="text-light">Step1</p>
                <h1 class="text-light">
                  Create a Solid Business Plan
                  <span class="text-warning">For Your Clothing Brand</span>
                </h1>
                <p class="text-light mb-4">
                  When you launch a clothing line, you have to consider several
                  things first, including your business model. To define your
                  business model effectively, you need to find a gap in your
                  competitors’ services. You need to then find innovative ways
                  to use those gaps in your clothing brand.
                </p>
                <p class="text-light mb-4">
                  You can choose among different business models for your
                  clothing line. You can either design and produce your apparel
                  from scratch or if you have clothing fashion knowledge but no
                  design skills, you can buy and resell products at a profit
                  margin rate. Here are some more clothing business models to
                  consider.
                </p>
                <ul class="text-light mb-4">
                  <li>
                    Hand produce and sell your designs directly to clients
                    through your own website or social media platforms or at
                    markets and pop-ups.
                  </li>
                  <li>
                    Create collections and produce clothing pieces through a
                    manufacturer, then sell your clothing line wholesale to
                    other retailers.
                  </li>
                  <li>
                    Design repeating patterns or graphics to print on blank
                    t-shirts and other clothing items using a print-on-demand
                    model, selling online through your own store.
                  </li>
                </ul>
                <p class="text-light mb-4">
                  Talk to our Clothing Experts to help you decide a niche for
                  your clothing brand.
                </p>
                <button id="openQuote" class="btn bg-warning text-light">
                  GET STARTED
                </button>
                <a
                  href="./portfolio.html"
                  class="btn btn-outline-dark text-light border border-light"
                  >OUR PORTFOLIO</a
                >
              </div>
              <div class="img py-5">
                <img
                  src="https://affixapparel.com/wp-content/uploads/2024/09/how-to-223-1.jpg"
                  alt=""
                  width="580px"
                  height="550px"
                />
              </div>
            </div>
          </div>

          <div class="about-content-none">
            <div
              class="container d-flex flex-wrap py-5 justify-content-between"
            >
              <div class="img py-5">
                <img
                  src="https://affixapparel.com/wp-content/uploads/2024/11/clothing-line.jpg"
                  alt=""
                  width="580px"
                  height="580px"
                />
              </div>
              <div class="text col-6 pr-4">
                <p>Step2</p>
                <h1 class="mb-4">
                  Stay On Top Of
                  <span class="text-warning">The Fashion Trends</span>
                  And Find Your Niche
                </h1>
                <p style="font-size: 14px">
                  Defining your target market before starting a clothing brand
                  is essential. An excellent way to identify your marketing
                  niche is by staying on top of fashion trends and knowing
                  what’s trending in the fashion industry. By observing fashion
                  industry trendsetters and finding gaps in their products, you
                  can provide more value and stand out from your competitors.
                </p>
                <p class="fs-3">Some great examples include</p>
                <ul class="mb-4" style="font-size: 14px">
                  <li>
                    Leanne Mai-ly Hilgart launched vegan winter coat brand Vaute
                    Couture after finding a disappointing lack of cruelty-free
                    options on the market.
                  </li>
                  <li>
                    Catalina Girald’s lingerie brand, Naja, was built on
                    empowerment and inclusiveness.
                  </li>
                  <li>
                    Camille Newman threw her hat in the plus game with Body by
                    Love (formerly Pop Up Plus).
                  </li>
                  <li>
                    Mel Wells launched a gender-neutral vintage-inspired
                    swimwear line.
                  </li>
                  <li>
                    Taryn Rodighiero also joined the swimwear game but focused
                    on custom suits, made to order to each customer’s exact
                    specifications.
                  </li>
                </ul>
                <p style="font-size: 14px">
                  Whatever niche you’ve set up for your clothing brand, never
                  rule out one main theme. You need to know your niche and carry
                  it forward as your main product line even when you expand or
                  add other designs. The original concept gives your clothing
                  brand a legacy, core value, and purpose that will always be
                  remembered in the fashion industry.
                </p>
                <button id="openQuote" class="btn bg-warning text-light">
                  GET STARTED
                </button>
                <a href="./portfolio.html" class="btn btn-outline-dark"
                  >OUR PORTFOLIO</a
                >
              </div>
            </div>
          </div>

          <div class="about-content-black">
            <div
              class="container d-flex flex-wrap py-5 justify-content-between"
            >
              <div class="text col-6 pr-4">
                <p class="text-light">Step3</p>
                <h1 class="text-light">
                  The Branding Of
                  <span class="text-warning">Your Clothing Brand</span>
                  Should Be Top-Tier
                </h1>
                <p class="text-light mb-4">
                  Clothing brands need a solid branding plan. Your clothing
                  brand’s logo is now integral to your branding. It is the first
                  thing your audience sees when visiting your clothing store.
                  People remember your brand by its logo. Therefore, you need a
                  solid logo design that is both engaging and relevant to your
                  niche.
                </p>
                <p class="text-light mb-4">
                  It takes a lot to create a solid clothing brand. When planning
                  an effective branding exercise, it includes showcasing your
                  clothing brand’s mission, vision, what you stand for, your
                  brand story, and more. Simply put, each aspect of your
                  content; both in written and visual format should represent
                  your clothing brand identity.
                </p>

                <p class="text-light mb-4">
                  Branding is done by creating brand guidelines. This will help
                  you inform all of your business and branding decisions as you
                  grow. They will dictate visual direction, website design, and
                  marketing campaigns. They should dictate what you look for in
                  a retail partner or new hire.
                </p>
                <button id="openQuote" class="btn bg-warning text-light">
                  GET STARTED
                </button>
                <a
                  href="./portfolio.html"
                  class="btn btn-outline-dark text-light border border-light"
                  >OUR PORTFOLIO</a
                >
              </div>
              <div class="img py-5">
                <img
                  src="https://affixapparel.com/wp-content/uploads/2024/09/step-4.jpg"
                  alt=""
                  width="580px"
                  height="500px"
                />
              </div>
            </div>
          </div>

          <div class="about-content-none">
            <div
              class="container d-flex flex-wrap py-5 justify-content-between"
            >
              <div class="img py-5">
                <img
                  src="https://affixapparel.com/wp-content/uploads/2024/09/step-5.jpg"
                  alt=""
                  width="580px"
                  height="580px"
                />
              </div>
              <div class="text col-6 pr-4">
                <p>Step4</p>
                <h1 class="mb-4">
                  Focus On the Designing Of
                  <span class="text-warning"
                    >Your Clothing Line To Make It Standout</span
                  >
                </h1>
                <p style="font-size: 14px">
                  Since you’re selling clothes, you want quality and design.
                  Therefore, you need to spend hours designing with complete
                  focus. Here are some best practices to consider when designing
                  your clothing line.
                </p>
                <p class="fs-3">Start With Doodling:</p>
                <p class="mb-4" style="font-size: 14px">
                  A doodle is the first step toward a refined design. For
                  starters, every design idea should start on paper before being
                  translated to Illustrator or another designer tool.
                </p>
                <p class="fs-3">Make your own samples by hand:</p>
                <p style="font-size: 14px">
                  Making your own samples by hand has two direct benefits.
                  First, you can enter into a relationship with a clothing
                  manufacturer with a better understanding of production. As a
                  second benefit, being familiar with the process will make it
                  easier to negotiate the cost.
                </p>
                <p class="fs-3">Focus on being creative:</p>
                <p style="font-size: 14px">
                  A clothing line must be versatile. Therefore, you have to be
                  on top of your creativity when designing clothes. Some
                  effective ways to boost creativity include collaborating with
                  your team and brainstorming ideas. You might as well need to
                  outsource the designing work if the burden is too high due to
                  other aspects of the work environment.
                </p>
              </div>
            </div>
          </div>

          <div class="about-content-black">
            <div
              class="container d-flex flex-wrap py-5 justify-content-between align-items-center"
            >
              <div class="text col-6 pr-4">
                <p class="text-light">Step5</p>
                <h1 class="text-light">
                  Have A Solid Pricing Strategy For
                  <span class="text-warning">Your Clothing Brand</span>
                </h1>

                <p class="text-light" style="font-size: 14px">
                  It doesn't matter how good the quality and designs of your
                  clothing lineups are, if you aren't using the right pricing
                  strategy for your clothing brand, you will get nowhere. In the
                  worst-case scenario, the results are poor to no sales, and the
                  reputation of the company is negative. There are multiple
                  pricing strategies to choose from for your clothing brand.
                </p>
                <p class="text-light fs-5 mb-4" style="font-weight: bold">
                  Cost-based Pricing Model:
                </p>
                <p class="text-light mb-4">
                  This is the most straightforward and commonly used pricing
                  strategy used by Ecommerce businesses. With the cost-based
                  model, you can add a fixed percentage margin on product costs
                  to generate profits.
                </p>
                <p class="text-light fs-5 mb-4" style="font-weight: bold">
                  Competition-based Pricing:
                </p>
                <p class="text-light mb-4">
                  You will quickly recognize this one by its name. You can set
                  the average price for your product based on your competitors’
                  pricing for a similar product. Try to keep your prices below
                  the competition to gain an edge.
                </p>
                <p class="text-light fs-5 mb-4" style="font-weight: bold">
                  Skimming Model:
                </p>
                <p class="text-light mb-4">
                  This is a very common pricing model, especially in the apparel
                  industry. You can set up an initial price for a product and
                  gradually lower it as it gets older or outdated. This is done
                  with the launch of upcoming lineups.
                </p>
                <p class="text-light fs-5 mb-4" style="font-weight: bold">
                  The Loss Leader Model:
                </p>
                <p class="text-light mb-4">
                  If you’re just starting a clothing brand, we recommend a
                  loss-leader model. With this pricing strategy, you can sell
                  your products at a loss. It is a highly effective strategy for
                  gaining market share for clothing products. You can increase
                  the prices and cover up those losses when your clothing brand
                  is well received on the market.
                </p>
                <button id="openQuote" class="btn bg-warning text-light">
                  GET STARTED
                </button>
                <a
                  href="./portfolio.html"
                  class="btn btn-outline-dark text-light border border-light"
                  >OUR PORTFOLIO</a
                >
              </div>
              <div class="img py-5">
                <img
                  src="https://affixapparel.com/wp-content/uploads/2024/09/step-5-2.jpg"
                  alt=""
                  width="580px"
                  height="600px"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Brand -->
      <div class="brand-logo">
        <div>
          <div
            class="brand container bg-warning my-5 d-flex flex-column align-items-center justify-content-around"
            style="height: 150px"
          >
            <h1>Get Your Brand Noticed with Custom Apparel!</h1>
            <button id="openQuote" class="btn btn-outline-dark">
              REQUEST YOUR FREE CONSULTAION!
            </button>
          </div>

          <div class="container d-flex flex-wrap">
            <div class="column-container d-flex col">
              <div class="logo-item mb-5">
                <img
                  src="https://affixapparel.com/wp-content/uploads/2021/07/affix-apparel-offers-oeko-tex-sustainble-fabrics.jpg"
                  alt=""
                />
              </div>
              <div class="logo-item mb-5">
                <img
                  src="https://affixapparel.com/wp-content/uploads/2021/07/Tru-%E2%80%93-Cotone-Pima-Certificato-400x112.jpg"
                  alt=""
                />
              </div>
            </div>
            <div class="column-container d-flex col">
              <div class="logo-item mb-5">
                <img
                  src="https://affixapparel.com/wp-content/uploads/2021/07/sedex-affixapparel-400x112.png"
                  alt=""
                />
              </div>
              <div class="logo-item mb-5">
                <img
                  src="https://affixapparel.com/wp-content/uploads/2021/07/affix-apparel-offers-usda-organic-sustainble-fabrics-400x112.jpg"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <div id="footer" class="bg-black border-bottom py-5">
      <div class="container d-flex flex-wrap align-items-center">
        <div class="column-container col px-3 text-light">
          <div class="mb-3">
            <a href="">
              <img
                src="https://affixapparel.com/wp-content/uploads/2024/09/afx-white-logo.png"
                alt=""
                style="width: 50%; height: 50%"
              />
            </a>
          </div>
          <div>
            <p>
              <i class="fa-solid fa-phone"></i>
              <span class="opacity-50"> 0987654321</span>
            </p>
          </div>
          <div>
            <p>
              <i class="fa-regular fa-envelope"></i>
              <span class="opacity-50">abc@gmail.com</span>
            </p>
          </div>
          <div>
            <p>
              <i class="fa-solid fa-location-dot"></i>
              <span class="opacity-50">Nguyễn văn Cừ, Long Biên, Hà Nội</span>
            </p>
          </div>
          <div>
            <p class="footer-icon">
              <a
                href="https://www.facebook.com/"
                class="text-light fs-4 me-3 opacity-50"
                ><i class="fa-brands fa-facebook"></i
              ></a>
              <a
                href="https://www.instagram.com/"
                class="text-light fs-4 me-3 opacity-50"
                ><i class="fa-brands fa-instagram"></i
              ></a>
              <a
                href="https://www.linkedin.com/"
                class="text-light fs-4 me-3 opacity-50"
                ><i class="fa-brands fa-linkedin-in"></i
              ></a>
              <a href="https://x.com/" class="text-light fs-4 me-3 opacity-50"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </p>
          </div>
        </div>
        <div class="column-container col px-3 text-light">
          <div><p class="h6">OUR SERVICE</p></div>
          <ul
            class="footer-list-item"
            style="list-style-type: none; padding-left: 0"
          >
            <li class=""><a href="">jeans Manafacture</a></li>
            <li><a href="">legging Manafacture</a></li>
            <li><a href="">legging Manafacture</a></li>
            <li><a href="">legging Manafacture</a></li>
            <li><a href="">legging Manafacture</a></li>
            <li><a href="">legging Manafacture</a></li>
          </ul>
        </div>
        <div class="column-container col px-3 text-light">
          <div><p class="h6">QUICK LINK</p></div>
          <ul
            class="footer-list-item"
            style="list-style-type: none; padding-left: 0"
          >
            <li><a href="./index.html">Home</a></li>
            <li><a href="./asset/layout/contact.html">Contact us</a></li>
            <li><a href="./asset/layout/blog.html">Blog</a></li>
            <li><a href="">Customization</a></li>
            <li><a href="">Who We are</a></li>
            <li><a href="">FAQS </a></li>
          </ul>
        </div>
        <div class="column-container col px-3">
          <div>
            <img
              src="https://affixapparel.com/wp-content/uploads/2024/10/alibaba-gold.png"
              alt=""
            />
          </div>
          <div>
            <div>
              <img
                src="https://affixapparel.com/wp-content/uploads/2024/10/secure-payment.png"
                alt=""
              />
            </div>
            <div>
              <img
                src="https://affixapparel.com/wp-content/uploads/2024/10/ssl-secure.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- copyright -->
    <div id="copyright" class="bg-black">
      <div
        class="container d-flex flex-wrap justify-content-between align-items-center"
      >
        <div>
          <p class="text-light" style="white-space: nowrap">
            Copyright © 2025 Trong Anh rights reserved.
          </p>
        </div>
        <div class="d-flex flex-wrap">
          <div>
            <a href="" style="white-space: nowrap"
              >Terms & Conditions | Privacy Policy</a
            >
          </div>
          <div>
            <img
              src="https://newapparel.afxwebdesign.com/wp-content/themes/woodmart/images/payments.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>

    <!-- form -->
    <div
      id="quoteModal"
      class="submit-form js-form justify-content-center align-items-center"
      style="height: 100vh; width: 100vw"
    >
      <div
        class="form-container container d-flex col-6 border border-light rounded bg-light"
      >
        <div class="form-img">
          <img
            src="https://affixapparel.com/wp-content/uploads/2024/11/pop-image-2.jpg"
            alt=""
            width="350"
            height="580"
          />
        </div>
        <div class="container-sm d-flex flex-column my-3">
          <div class="d-flex justify-content-between">
            <p class="h3">Request Quote!</p>
            <div id="closeQuote" class="form-close">
              <i class="fa-solid fa-xmark fs-2"></i>
            </div>
          </div>
          <form action="">
            <div class="row d-flex flex-wrap my-3">
              <div class="d-flex flex-column col-6 mb-3">
                <label for="">Your Name:</label>
                <input type="text" placeholder="Enter your name" class="ps-2" />
              </div>
              <div class="d-flex flex-column col-6 mb-3">
                <div>Phone Number:</div>
                <input
                  type="text"
                  placeholder="Enter your number"
                  class="ps-2"
                />
              </div>
              <div class="d-flex flex-column col-12 mb-3">
                <label for="">Your Email:</label>
                <input
                  type="text"
                  placeholder="Enter your email"
                  class="ps-2"
                />
              </div>
            </div>
            <p class="mb-1">Preferred method of correspondence :</p>
            <div class="d-flex mb-3">
              <div class="pe-2">
                <input type="radio" name="check" />
                <i class="fa-regular fa-envelope"></i> Via email |
              </div>
              <div>
                <input type="radio" name="check" />
                <i class="fa-solid fa-phone"></i> Via Call / SMS
              </div>
            </div>
            <div class="my-3">
              <p class="mb-1">Add any Attachments (if possible:)</p>
              <input type="file" class="border border-black col-12" />
            </div>
            <div class="my-3">
              <p class="mb-1">Detail of Your Idea</p>
              <textarea
                name=""
                id=""
                class="col-12 ps-1"
                placeholder="Kindy write brief on the idea"
                style="height: 100px"
              ></textarea>
            </div>
            <button class="btn bg-black text-light">SUBMIT REQUEST</button>
          </form>
        </div>
      </div>
    </div>

    <script src="../bosstrap/script/bootstrap.bundle.min.js"></script>
    <script type="module" src="../js/app.js"></script>
  </body>
</html>
