<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BLOG</title>
    <link rel="stylesheet" href="../bosstrap/style/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/Main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
  </head>

  <body>
    <!-- main -->
    <div id="main">
      <!-- button go home -->
      <div class="back-home shadow">
        <div class="box"><i class="fa-solid fa-chevron-up"></i></div>
      </div>

      <!-- button help -->
      <div class="help rounded-pill">
        <div>
          <button class="btn-help-show btn rounded-pill text-light">
            <span><i class="fa-solid fa-question"></i></span>
            <span>Trợ giúp</span>
          </button>
        </div>
      </div>
      <!-- form chat -->
      <div>
        <div class="help-form bg-light">
          <div>
            <header>
              <div
                class="d-flex bg-primary justify-content-center align-items-center position-relative"
              >
                <h1 class="text-light fs-6 py-2">Trò chuyện trực tuyến</h1>
                <button
                  class="btn btn-help-close position-absolute top-0 bottom-0 end-0 text-light"
                >
                  <i class="fa-solid fa-xmark"></i>
                </button>
              </div>
            </header>
            <form action="">
              <div class="main-form">
                <div class="m-4">
                  <span
                    >Rất tiếc, hiện tại chúng tôi không online. Hãy để lại tin
                    nhắn và chúng tôi sẽ liên hệ lại với bạn.</span
                  >
                </div>
                <div class="box-form">
                  <div class="mx-4">
                    <div class="d-flex flex-column my-4">
                      <label for="">
                        <div>
                          <strong>Tên</strong>
                        </div>
                      </label>
                      <input type="text" class="p-1" />
                    </div>

                    <div class="d-flex flex-column my-4">
                      <label for="">
                        <div>
                          <strong>Email</strong>
                        </div>
                      </label>
                      <input type="text" class="p-1" />
                    </div>

                    <div class="d-flex flex-column my-4">
                      <label for="">
                        <div>
                          <strong>Tin nhắn</strong>
                        </div>
                      </label>
                      <textarea
                        name=""
                        id=""
                        class="p-1"
                        style="height: 100px"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="footer-form py-3">
                <div class="d-flex justify-content-between mx-4">
                  <a href="">Trợ giúp</a>
                  <button
                    type="submit"
                    class="btn bg-primary text-light opacity-80"
                  >
                    Gửi tin nhắn
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- thanh nav -->
      <nav class="navbar navbar-expand-lg">
        <div class="container" style="z-index: 10">
          <a class="navbar-brand" href="../../index.html">
            <img
              src="https://affixapparel.com/wp-content/uploads/2024/09/affix-apparel-logo.png"
              alt=""
            />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse"
            id="navbarSupportedContent"
            style="z-index: 10"
          >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../../index.html"
                  >HOME</a
                >
              </li>
              <!-- <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                OUT SERVICES
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                CUSTOMIZATION
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li> -->
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">PRODUCTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="./portfolio.html"
                  >PORTFOLIO</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="./blog.html"
                  >BLOG</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="./contact.html"
                  >CONTACT US</a
                >
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form>
          </div>
        </div>
      </nav>
      <div
        class="blog-background d-flex justify-content-center align-items-center"
      >
        <div class="title py-5">
          <h1 class="text-light py-5" style="font-size: 50px">Blog</h1>
        </div>
      </div>

      <div class="content">
        <div class="container blog-content py-5">
          <div class="container d-flex flex-wrap justify-content-center my-5">
            <div class="blog-content-item mb-5">
              <div class="img">
                <a href="./blog-info1.html">
                  <img
                    src="https://affixapparel.com/wp-content/uploads/2025/02/sustainable-packaging-for-clothing-1.jpg"
                    alt=""
                    width="380px"
                    height="220px"
                  />
                </a>
              </div>
              <div class="text">
                <p class="opacity-50 my-2">21 Feb 2025</p>
                <a
                  href="./blog-info1.html"
                  class="h5 text-black text-decoration-none my-2"
                >
                  Sustainable Packaging for Clothing: Eco-Friendly Ideas to
                  Try</a
                >
                <p class="my-2">
                  Sustainable packaging for clothing​ is more than a trend; it
                  is a requirement. With growing environmental awareness among
                  consumers, th...
                </p>
                <a
                  href="./blog-info1.html"
                  class="btn btn-outline-light text-warning my-2"
                >
                  CONTINUE READING
                </a>
              </div>
            </div>
            <div class="blog-content-item mb-5">
              <div class="img">
                <a href="./blog-info2.html">
                  <img
                    src="https://affixapparel.com/wp-content/uploads/2025/02/How-to-Promote-Your-T-Shirt-Busines-2.jpg"
                    alt=""
                    width="380px"
                    height="220px"
                  />
                </a>
              </div>
              <div class="text">
                <p class="opacity-50 my-2">21 Feb 2025</p>
                <a
                  href="./blog-info2.html"
                  class="h5 text-black text-decoration-none my-2"
                >
                  How to Promote Your T-Shirt Business & Grow Faster</a
                >
                <p class="my-2">
                  Starting a t-shirt business is exciting, but do you know how
                  to promote your t-shirt business effectively to stand out? No
                  matter if yo...
                </p>
                <a
                  href="./blog-info2.html"
                  class="btn btn-outline-light text-warning my-2"
                >
                  CONTINUE READING
                </a>
              </div>
            </div>
            <div class="blog-content-item mb-5">
              <div class="img">
                <a href="./blog-info3.html">
                  <img
                    src="https://affixapparel.com/wp-content/uploads/2025/01/Benefits-of-Fast-Fashion-1.jpg"
                    alt=""
                    width="380px"
                    height="220px"
                  />
                </a>
              </div>
              <div class="text">
                <p class="opacity-50 my-2">21 Feb 2025</p>
                <a
                  href="./blog-info3.html"
                  class="h5 text-black text-decoration-none my-2"
                >
                  The Benefits of Fast Fashion: Style at Lightning Speed</a
                >
                <p class="my-2">
                  Fast fashion has transformed the way you purchase and dress,
                  making fashionable clothing more affordable than ever. So,
                  what makes it s...
                </p>
                <a
                  href="./blog-info3.html"
                  class="btn btn-outline-light text-warning my-2"
                >
                  CONTINUE READING
                </a>
              </div>
            </div>
            <div class="blog-content-item mb-5">
              <div class="img">
                <img
                  src="https://affixapparel.com/wp-content/uploads/2025/01/swimwear-4.jpg"
                  alt=""
                  width="380px"
                  height="220px"
                />
              </div>
              <div class="text">
                <p class="opacity-50 my-2">21 Feb 2025</p>
                <a
                  href="./blog-info4.html"
                  class="h5 text-black text-decoration-none my-2"
                >
                  Cost to Start a Swimwear Line: Complete Guide for Beginners</a
                >
                <p class="my-2">
                  Starting your own swimwear line can be an exciting venture,
                  but understanding the cost to start a swimwear line is
                  essential for succes...
                </p>
                <a
                  href="./blog-info4.html"
                  class="btn btn-outline-light text-warning my-2"
                >
                  CONTINUE READING
                </a>
              </div>
            </div>
            <div class="blog-content-item mb-5">
              <div class="img">
                <img
                  src="https://affixapparel.com/wp-content/uploads/2024/12/What-is-a-Trucker-Hat.jpg"
                  alt=""
                  width="380px"
                  height="220px"
                />
              </div>
              <div class="text">
                <p class="opacity-50 my-2">21 Feb 2025</p>
                <a href="" class="h5 text-black text-decoration-none my-2">
                  What is a Trucker Hat And Why it’s Back? Everything You Need
                  to Know</a
                >
                <p class="my-2">
                  Have you ever wondered what a trucker hat is and why trucker
                  hats evolved from freebies to high-end fashion essentials?
                  Whether you wer...
                </p>
                <button class="btn btn-outline-light text-warning my-2">
                  CONTINUE READING
                </button>
              </div>
            </div>
            <div class="blog-content-item mb-5">
              <div class="img">
                <img
                  src="https://affixapparel.com/wp-content/uploads/2024/07/71-1-1.jpg"
                  alt=""
                  width="380px"
                  height="220px"
                />
              </div>
              <div class="text">
                <p class="opacity-50 my-2">21 Feb 2025</p>
                <a href="" class="h5 text-black text-decoration-none my-2">
                  Sweater vs Sweatshirt: A Guide To Key Differences!</a
                >
                <p class="my-2">
                  Have you ever considered what truly separates a sweater from a
                  sweatshirt? This question is frequently asked in the fashion
                  industry an...
                </p>
                <button class="btn btn-outline-light text-warning my-2">
                  CONTINUE READING
                </button>
              </div>
            </div>
            <div class="blog-content-item mb-5">
              <div class="img">
                <img
                  src="https://affixapparel.com/wp-content/uploads/2024/06/70-1.jpg"
                  alt=""
                  width="380px"
                  height="220px"
                />
              </div>
              <div class="text">
                <p class="opacity-50 my-2">21 Feb 2025</p>
                <a href="" class="h5 text-black text-decoration-none my-2">
                  How Much Is The Cost of A Custom Bra in 2025?</a
                >
                <p class="my-2">
                  You've probably heard that getting a custom-fit bra is the way
                  to go for the best support and comfort, but how much does a
                  custom bra c...
                </p>
                <button class="btn btn-outline-light text-warning my-2">
                  CONTINUE READING
                </button>
              </div>
            </div>
            <div class="blog-content-item mb-5">
              <div class="img">
                <img
                  src="https://affixapparel.com/wp-content/uploads/2024/03/67-1.jpg"
                  alt=""
                  width="380px"
                  height="220px"
                />
              </div>
              <div class="text">
                <p class="opacity-50 my-2">21 Feb 2025</p>
                <a href="" class="h5 text-black text-decoration-none my-2">
                  Explaining Fair Trade Fashions: 10 Essential Principles and
                  Regulations</a
                >
                <p class="my-2">
                  The importance of fair trade in an ethical fashion cannot be
                  overstated. Even though many of us are aware of the importance
                  of sustaina...
                </p>
                <button class="btn btn-outline-light text-warning my-2">
                  CONTINUE READING
                </button>
              </div>
            </div>
            <div class="blog-content-item mb-5">
              <div class="img">
                <img
                  src="https://affixapparel.com/wp-content/uploads/2024/01/6-1.jpg"
                  alt=""
                  width="380px"
                  height="220px"
                />
              </div>
              <div class="text">
                <p class="opacity-50 my-2">21 Feb 2025</p>
                <a href="" class="h5 text-black text-decoration-none my-2">
                  Crafting Clothes that Sell: 10 Proven Clothing Design Tips</a
                >
                <p class="my-2">
                  Have you ever wondered how that perfect outfit you adore makes
                  it from the designer's head to your wardrobe? The process is
                  an incredib...
                </p>
                <button class="btn btn-outline-light text-warning my-2">
                  CONTINUE READING
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="brand-logo">
        <div>
          <div
            class="brand container bg-warning my-5 d-flex flex-column align-items-center justify-content-around"
            style="height: 150px"
          >
            <h1>Get Your Brand Noticed with Custom Apparel!</h1>
            <button id="openQuote" class="btn btn-outline-dark">
              REQUEST YOUR FREE CONSULTAION!
            </button>
          </div>

          <div class="container d-flex flex-wrap">
            <div class="column-container d-flex col">
              <div class="logo-item mb-5">
                <img
                  src="https://affixapparel.com/wp-content/uploads/2021/07/affix-apparel-offers-oeko-tex-sustainble-fabrics.jpg"
                  alt=""
                />
              </div>
              <div class="logo-item mb-5">
                <img
                  src="https://affixapparel.com/wp-content/uploads/2021/07/Tru-%E2%80%93-Cotone-Pima-Certificato-400x112.jpg"
                  alt=""
                />
              </div>
            </div>
            <div class="column-container d-flex col">
              <div class="logo-item mb-5">
                <img
                  src="https://affixapparel.com/wp-content/uploads/2021/07/sedex-affixapparel-400x112.png"
                  alt=""
                />
              </div>
              <div class="logo-item mb-5">
                <img
                  src="https://affixapparel.com/wp-content/uploads/2021/07/affix-apparel-offers-usda-organic-sustainble-fabrics-400x112.jpg"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <div id="footer" class="bg-black border-bottom py-5">
      <div class="container d-flex flex-wrap align-items-center">
        <div class="column-container col px-3 text-light">
          <div class="mb-3">
            <a href="">
              <img
                src="https://affixapparel.com/wp-content/uploads/2024/09/afx-white-logo.png"
                alt=""
                style="width: 50%; height: 50%"
              />
            </a>
          </div>
          <div>
            <p>
              <i class="fa-solid fa-phone"></i>
              <span class="opacity-50"> 0987654321</span>
            </p>
          </div>
          <div>
            <p>
              <i class="fa-regular fa-envelope"></i>
              <span class="opacity-50">abc@gmail.com</span>
            </p>
          </div>
          <div>
            <p>
              <i class="fa-solid fa-location-dot"></i>
              <span class="opacity-50">Nguyễn văn Cừ, Long Biên, Hà Nội</span>
            </p>
          </div>
          <div>
            <p class="footer-icon">
              <a
                href="https://www.facebook.com/"
                class="text-light fs-4 me-3 opacity-50"
                ><i class="fa-brands fa-facebook"></i
              ></a>
              <a
                href="https://www.instagram.com/"
                class="text-light fs-4 me-3 opacity-50"
                ><i class="fa-brands fa-instagram"></i
              ></a>
              <a
                href="https://www.linkedin.com/"
                class="text-light fs-4 me-3 opacity-50"
                ><i class="fa-brands fa-linkedin-in"></i
              ></a>
              <a href="https://x.com/" class="text-light fs-4 me-3 opacity-50"
                ><i class="fa-brands fa-twitter"></i
              ></a>
            </p>
          </div>
        </div>
        <div class="column-container col px-3 text-light">
          <div><p class="h6">OUR SERVICE</p></div>
          <ul
            class="footer-list-item"
            style="list-style-type: none; padding-left: 0"
          >
            <li class=""><a href="">jeans Manafacture</a></li>
            <li><a href="">legging Manafacture</a></li>
            <li><a href="">legging Manafacture</a></li>
            <li><a href="">legging Manafacture</a></li>
            <li><a href="">legging Manafacture</a></li>
            <li><a href="">legging Manafacture</a></li>
          </ul>
        </div>
        <div class="column-container col px-3 text-light">
          <div><p class="h6">QUICK LINK</p></div>
          <ul
            class="footer-list-item"
            style="list-style-type: none; padding-left: 0"
          >
            <li><a href="../../index.html">Home</a></li>
            <li><a href="./contact.html">Contact us</a></li>
            <li><a href="./blog.html">Blog</a></li>
            <li><a href="">Customization</a></li>
            <li><a href="">Who We are</a></li>
            <li><a href="">FAQS </a></li>
          </ul>
        </div>
        <div class="column-container col px-3">
          <div>
            <img
              src="https://affixapparel.com/wp-content/uploads/2024/10/alibaba-gold.png"
              alt=""
            />
          </div>
          <div>
            <div>
              <img
                src="https://affixapparel.com/wp-content/uploads/2024/10/secure-payment.png"
                alt=""
              />
            </div>
            <div>
              <img
                src="https://affixapparel.com/wp-content/uploads/2024/10/ssl-secure.png"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- copyright -->
    <div id="copyright" class="bg-black">
      <div
        class="container d-flex flex-wrap justify-content-between align-items-center"
      >
        <div>
          <p class="text-light" style="white-space: nowrap">
            Copyright © 2025 Trong Anh rights reserved.
          </p>
        </div>
        <div class="d-flex flex-wrap">
          <div>
            <a href="" style="white-space: nowrap"
              >Terms & Conditions | Privacy Policy</a
            >
          </div>
          <div>
            <img
              src="https://newapparel.afxwebdesign.com/wp-content/themes/woodmart/images/payments.png"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>

    <!-- form -->
    <div
      id="quoteModal"
      class="submit-form js-form justify-content-center align-items-center"
      style="height: 100vh; width: 100vw"
    >
      <div
        class="form-container container d-flex col-6 border border-light rounded bg-light"
      >
        <div class="form-img">
          <img
            src="https://affixapparel.com/wp-content/uploads/2024/11/pop-image-2.jpg"
            alt=""
            width="350"
            height="580"
          />
        </div>
        <div class="container-sm d-flex flex-column my-3">
          <div class="d-flex justify-content-between">
            <p class="h3">Request Quote!</p>
            <div id="closeQuote" class="form-close">
              <i class="fa-solid fa-xmark fs-2"></i>
            </div>
          </div>
          <form action="">
            <div class="row d-flex flex-wrap my-3">
              <div class="d-flex flex-column col-6 mb-3">
                <label for="">Your Name:</label>
                <input type="text" placeholder="Enter your name" class="ps-2" />
              </div>
              <div class="d-flex flex-column col-6 mb-3">
                <div>Phone Number:</div>
                <input
                  type="text"
                  placeholder="Enter your number"
                  class="ps-2"
                />
              </div>
              <div class="d-flex flex-column col-12 mb-3">
                <label for="">Your Email:</label>
                <input
                  type="text"
                  placeholder="Enter your email"
                  class="ps-2"
                />
              </div>
            </div>
            <p class="mb-1">Preferred method of correspondence :</p>
            <div class="d-flex mb-3">
              <div class="pe-2">
                <input type="radio" name="check" />
                <i class="fa-regular fa-envelope"></i> Via email |
              </div>
              <div>
                <input type="radio" name="check" />
                <i class="fa-solid fa-phone"></i> Via Call / SMS
              </div>
            </div>
            <div class="my-3">
              <p class="mb-1">Add any Attachments (if possible:)</p>
              <input type="file" class="border border-black col-12" />
            </div>
            <div class="my-3">
              <p class="mb-1">Detail of Your Idea</p>
              <textarea
                name=""
                id=""
                class="col-12 ps-1"
                placeholder="Kindy write brief on the idea"
                style="height: 100px"
              ></textarea>
            </div>
            <button class="btn bg-black text-light">SUBMIT REQUEST</button>
          </form>
        </div>
      </div>
    </div>

    <script src="../bosstrap/script/bootstrap.bundle.min.js"></script>
    <script type="module" src="../js/app.js"></script>
  </body>
</html>
